{% extends 'base.html' %}
{% block body %}

<div class="container text-center">

{% if envoi %}Votre Plateforme a bien été modifié{% endif %}

<form action="{% url "modify_plateforme" plateforme.id %}" enctype="multipart/form-data" method="post">
{% csrf_token %}
<div class="form-group ">
    {{ form.nom.errors }}
    <label for="{{ form.nom.id_for_label }}">{{ form.nom.label }}</label>
    {{ form.nom }}
</div>

<div class="form-group ">
        {{ form.image.errors }}
        <label for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
        {{ form.image }}
</div>

<input class="btn btn-success" type="submit"/>
</form>
</div>
{% endblock %} 